<a href="https://colab.research.google.com/github/TayJen/hackathon_algu2022/blob/master/H_ALGU_2022_Research.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### Подготовка данных

In [2]:
%cd /content/drive/Shareddrives/data_drive/H_Vladivostok2022
!pwd

/content/drive/Shareddrives/data_drive/H_Vladivostok2022
/content/drive/Shareddrives/data_drive/H_Vladivostok2022

In [3]:
# !mkdir ./data/train
# !mkdir ./data/test
# !unzip ./data/zipped/train_dataset_train.zip -d ./data/train/
# !unzip ./data/zipped/test_dataset_test.zip -d ./data/test

## Импорт библиотек

In [4]:
import pandas as pd
import numpy as np

## Взглянем на данные

In [5]:
df = pd.read_csv("./data/train/train_issues.csv")
df.shape

(9589, 8)

In [6]:
df.head()

,id,created,key,summary,project_id,assignee_id,creator_id,overall_worklogs
0,819952,2019-10-01 05:57:18.000,SM-10678,"UI тесты по заказу ""Добро КейДжи""",5,93,93,1800
1,819949,2019-10-01 05:59:45.000,SM-10679,"UI тесты раздела ""Профиль""",5,93,93,7200
2,819947,2019-10-01 06:00:38.000,SM-10680,"UI тесты раздела ""Личный счет""",5,93,93,14400
3,819943,2019-10-01 06:02:49.000,SM-10682,"UI тесты раздела ""Новости""",5,93,93,900
4,819941,2019-10-01 06:03:26.000,SM-10683,"UI тесты раздела ""Зоны скидок и доплат""",5,93,93,900

In [7]:
df.describe()

                 id   project_id  assignee_id   creator_id  overall_worklogs
count  9.589000e+03  9589.000000  9589.000000  9589.000000      9.589000e+03
mean   7.265522e+05    17.493482   114.838461   117.467411      1.724369e+04
std    3.114348e+04    10.389579   125.497901   117.299165      9.864197e+04
min    6.696640e+05     5.000000     1.000000     1.000000      6.000000e+01
25%    7.225060e+05    13.000000    10.000000    11.000000      3.000000e+03
50%    7.256220e+05    13.000000    82.000000    82.000000      7.200000e+03
75%    7.287280e+05    13.000000   197.000000   193.000000      1.470000e+04
max    1.056012e+06    56.000000   384.000000   384.000000      7.014000e+06

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9589 entries, 0 to 9588
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                9589 non-null   int64
 1   created           9589 non-null   object
 2   key               9589 non-null   object
 3   summary           9589 non-null   object
 4   project_id        9589 non-null   int64
 5   assignee_id       9589 non-null   int64
 6   creator_id        9589 non-null   int64
 7   overall_worklogs  9589 non-null   int64
dtypes: int64(5), object(3)
memory usage: 599.4+ KB

### Фича created - поработаем с временем

In [9]:
df['created'].tail()

9584    2020-06-15 09:47:30.000
9585    2020-06-02 10:08:14.000
9586    2020-06-05 09:52:12.000
9587    2020-06-05 13:46:38.000
9588    2020-06-09 02:56:25.000
Name: created, dtype: object

In [10]:
df['created'][0]

'2019-10-01 05:57:18.000'

In [11]:
df['created_time'] = pd.to_datetime(df['created'], format='%Y-%m-%d %H:%M:%S')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9589 entries, 0 to 9588
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                9589 non-null   int64
 1   created           9589 non-null   object
 2   key               9589 non-null   object
 3   summary           9589 non-null   object
 4   project_id        9589 non-null   int64
 5   assignee_id       9589 non-null   int64
 6   creator_id        9589 non-null   int64
 7   overall_worklogs  9589 non-null   int64
 8   created_time      9589 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(5), object(3)
memory usage: 674.4+ KB

In [12]:
df.head()

,id,created,key,summary,project_id,assignee_id,creator_id,overall_worklogs,created_time
0,819952,2019-10-01 05:57:18.000,SM-10678,"UI тесты по заказу ""Добро КейДжи""",5,93,93,1800,2019-10-01 05:57:18
1,819949,2019-10-01 05:59:45.000,SM-10679,"UI тесты раздела ""Профиль""",5,93,93,7200,2019-10-01 05:59:45
2,819947,2019-10-01 06:00:38.000,SM-10680,"UI тесты раздела ""Личный счет""",5,93,93,14400,2019-10-01 06:00:38
3,819943,2019-10-01 06:02:49.000,SM-10682,"UI тесты раздела ""Новости""",5,93,93,900,2019-10-01 06:02:49
4,819941,2019-10-01 06:03:26.000,SM-10683,"UI тесты раздела ""Зоны скидок и доплат""",5,93,93,900,2019-10-01 06:03:26

In [13]:
df.drop('created', axis=1, inplace=True)
df.head()

,id,key,summary,project_id,assignee_id,creator_id,overall_worklogs,created_time
0,819952,SM-10678,"UI тесты по заказу ""Добро КейДжи""",5,93,93,1800,2019-10-01 05:57:18
1,819949,SM-10679,"UI тесты раздела ""Профиль""",5,93,93,7200,2019-10-01 05:59:45
2,819947,SM-10680,"UI тесты раздела ""Личный счет""",5,93,93,14400,2019-10-01 06:00:38
3,819943,SM-10682,"UI тесты раздела ""Новости""",5,93,93,900,2019-10-01 06:02:49
4,819941,SM-10683,"UI тесты раздела ""Зоны скидок и доплат""",5,93,93,900,2019-10-01 06:03:26

In [14]:
df['year'] = df['created_time'].dt.year
df['month'] = df['created_time'].dt.month
df['day'] = df['created_time'].dt.day
df['hour'] = df['created_time'].dt.hour
df['minute'] = df['created_time'].dt.minute
df.head()

,id,key,summary,project_id,assignee_id,creator_id,overall_worklogs,created_time,year,month,day,hour,minute
0,819952,SM-10678,"UI тесты по заказу ""Добро КейДжи""",5,93,93,1800,2019-10-01 05:57:18,2019,10,1,5,57
1,819949,SM-10679,"UI тесты раздела ""Профиль""",5,93,93,7200,2019-10-01 05:59:45,2019,10,1,5,59
2,819947,SM-10680,"UI тесты раздела ""Личный счет""",5,93,93,14400,2019-10-01 06:00:38,2019,10,1,6,0
3,819943,SM-10682,"UI тесты раздела ""Новости""",5,93,93,900,2019-10-01 06:02:49,2019,10,1,6,2
4,819941,SM-10683,"UI тесты раздела ""Зоны скидок и доплат""",5,93,93,900,2019-10-01 06:03:26,2019,10,1,6,3

In [15]:
df.drop('created_time', axis=1, inplace=True)
df.head()

,id,key,summary,project_id,assignee_id,creator_id,overall_worklogs,year,month,day,hour,minute
0,819952,SM-10678,"UI тесты по заказу ""Добро КейДжи""",5,93,93,1800,2019,10,1,5,57
1,819949,SM-10679,"UI тесты раздела ""Профиль""",5,93,93,7200,2019,10,1,5,59
2,819947,SM-10680,"UI тесты раздела ""Личный счет""",5,93,93,14400,2019,10,1,6,0
3,819943,SM-10682,"UI тесты раздела ""Новости""",5,93,93,900,2019,10,1,6,2
4,819941,SM-10683,"UI тесты раздела ""Зоны скидок и доплат""",5,93,93,900,2019,10,1,6,3

### creator_id

In [17]:
df[df.assignee_id != df.creator_id].head()

,id,key,summary,project_id,assignee_id,creator_id,overall_worklogs,year,month,day,hour,minute
7,819933,SM-10686,Сделать разделение по мобильным операторам,5,207,1,7800,2019,10,1,6,6
10,819924,SM-10690,Не отрабатывает cdr_calc_durations,5,264,207,17580,2019,10,1,8,36
13,819917,SM-10693,Собрать водительскую прилу с измененным id вер...,5,8,54,5400,2019,10,2,2,49
14,819912,SM-10694,Фидбек от Чака,5,207,8,4200,2019,10,2,12,41
17,819903,SM-10698,Переделать отчет под новый формат (taxi-corp-s...,5,264,1,55260,2019,10,3,9,41

### project_id

In [18]:
df.project_id.unique()

array([ 5, 13, 15, 29, 33, 48, 56])

In [19]:
# df_test = pd.read_csv('./data/test/test_issues.csv')
# df_test.project_id.unique()

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9589 entries, 0 to 9588
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                9589 non-null   int64
 1   key               9589 non-null   object
 2   summary           9589 non-null   object
 3   project_id        9589 non-null   int64
 4   assignee_id       9589 non-null   int64
 5   creator_id        9589 non-null   int64
 6   overall_worklogs  9589 non-null   int64
 7   year              9589 non-null   int64
 8   month             9589 non-null   int64
 9   day               9589 non-null   int64
 10  hour              9589 non-null   int64
 11  minute            9589 non-null   int64
dtypes: int64(10), object(2)
memory usage: 899.1+ KB

### key

In [25]:
len(df.key.unique())

9576

In [27]:
df.key.unique()

array(['SM-10678', 'SM-10679', 'SM-10680', ..., 'LJ-3', 'LJ-4', 'LJ-5'],
      dtype=object)

In [28]:
df[df['key'].isin(df['key'][df['key'].duplicated()])].sort_values('key')

,id,key,summary,project_id,assignee_id,creator_id,overall_worklogs,year,month,day,hour,minute
9520,679334,ADBK-109,Jo.Nawaphon.01 - Cannot access the course deta...,48,1,1,4980,2020,6,5,11,9
8958,689786,ADBK-109,"Readme using the approved format (for EVN, ETL)",48,1,1,14400,2020,3,13,17,52
9521,679333,ADBK-110,Broken course header,48,1,1,4200,2020,6,5,11,15
8959,689784,ADBK-110,How the project is deployed (on staging & prod),48,1,1,14400,2020,3,13,18,7
9537,679332,ADBK-112,Error with SSO Thailand in login,48,1,1,1500,2020,6,8,19,45
8961,689781,ADBK-112,Create a separate sitemap-landings.XML file an...,48,1,374,7200,2020,3,13,22,7
9547,679326,ADBK-114,Tracking button in payment page,48,1,1,24300,2020,6,9,17,29
8966,689777,ADBK-114,"Find one expert in CSS, JS support team",48,1,1,3600,2020,3,16,14,11
9039,689741,ADBK-137,Initiative#3 - Provide flow of contact when ap...,48,1,1,1800,2020,3,24,15,21
9523,679210,ADBK-137,Add margins between sections and add text alig...,48,1,1,7620,2020,6,5,23,9
9524,679204,ADBK-138,Delete margin from right side,48,1,1,3360,2020,6,5,23,58
9040,689739,ADBK-138,Initiative#3 - Investigate architect and IT lo...,48,1,1,10800,2020,3,24,15,23
9041,689735,ADBK-141,Initiative#3 - Making master plan to execute t...,48,1,1,3600,2020,3,24,15,27
9527,679189,ADBK-141,- Star (rating) get on top of text (missing ve...,48,1,1,7740,2020,6,6,0,3
9060,689730,ADBK-144,Save infra cost in AWS and Digital Ocean of EVN,48,1,1,30900,2020,3,26,14,28
9530,679153,ADBK-144,Margin between menu and Edumall logo,48,1,1,3240,2020,6,6,0,9
9531,679141,ADBK-145,- Hard to click on expand to sub-category button,48,1,1,14700,2020,6,6,0,10
9061,689728,ADBK-145,Discuss with NamVH to understand all service i...,48,82,1,5400,2020,3,26,14,33
9159,689622,ADBK-211,Modify Titles and Descriptions for Category Pa...,48,1,374,1620,2020,4,13,15,4
9542,678965,ADBK-211,Basic LMS UAT (ETL),48,1,1,3600,2020,6,9,11,32
9460,679357,ADBK-86,Edit Thank you page of online payment,48,1,1,19800,2020,5,27,11,49
8940,689821,ADBK-86,[Backend]Add a avatar of cateogry when sharing...,48,1,1,18000,2020,3,11,9,2
9462,679354,ADBK-89,Discount function in online payment,48,1,1,87000,2020,5,27,11,49
8944,689816,ADBK-89,Chuyển CSS xuống footer,48,1,1,14400,2020,3,12,8,48
8945,689811,ADBK-92,merging checkout page of LP with edumall.vn,48,1,1,14400,2020,3,12,11,7
9473,679351,ADBK-92,Issue with wrong google track id in Sso Thailand,48,1,1,4200,2020,5,28,19,47

In [29]:
df_test = pd.read_csv('./data/test/test_issues.csv')
df_test[df_test['key'].isin(df_test['key'][df_test['key'].duplicated()])].sort_values('key')

Empty DataFrame
Columns: [id, created, key, summary, project_id, assignee_id, creator_id]
Index: []

In [31]:
df_test.key

0          SM-11140
1          SM-11141
2          SM-11144
3          SM-11146
4          SM-11150
           ...
1065    ADBKRK-1392
1066    ADBKRK-1402
1067    ADBKRK-1422
1068    ADBKRK-1493
1069           LJ-6
Name: key, Length: 1070, dtype: object

In [38]:
df_test[df_test.project_id == 48]['summary'][993]

'Paste Google Dynamic Remarketing Code into the Markeplace (edumall.co.th)'

In [39]:
df_test[df_test.project_id == 48]['summary'][994]

'Paste Google Dynamic Remarketing Code into the Markeplace (edumall.vn)'

### Посмотрим на таргет

In [48]:
import matplotlib.pyplot as plt 
import seaborn

%matplotlib inline

In [44]:
df[df['overall_worklogs'] % 60 != 0]

,id,key,summary,project_id,assignee_id,creator_id,overall_worklogs,year,month,day,hour,minute
9258,689448,ADBK-286,Make request to GA after transaction and test it,48,1,1,10188,2020,4,29,14,37

Всего одна запись, где требуется точность до секунд

Создадим таргет в часах

In [53]:
df['target'] = round(df['overall_worklogs'] / 3600, 2)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9589 entries, 0 to 9588
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                9589 non-null   int64
 1   key               9589 non-null   object
 2   summary           9589 non-null   object
 3   project_id        9589 non-null   int64
 4   assignee_id       9589 non-null   int64
 5   creator_id        9589 non-null   int64
 6   overall_worklogs  9589 non-null   int64
 7   year              9589 non-null   int64
 8   month             9589 non-null   int64
 9   day               9589 non-null   int64
 10  hour              9589 non-null   int64
 11  minute            9589 non-null   int64
 12  target            9589 non-null   float64
dtypes: float64(1), int64(10), object(2)
memory usage: 974.0+ KB

In [54]:
df.head()

,id,key,summary,project_id,assignee_id,creator_id,overall_worklogs,year,month,day,hour,minute,target
0,819952,SM-10678,"UI тесты по заказу ""Добро КейДжи""",5,93,93,1800,2019,10,1,5,57,0.50
1,819949,SM-10679,"UI тесты раздела ""Профиль""",5,93,93,7200,2019,10,1,5,59,2.00
2,819947,SM-10680,"UI тесты раздела ""Личный счет""",5,93,93,14400,2019,10,1,6,0,4.00
3,819943,SM-10682,"UI тесты раздела ""Новости""",5,93,93,900,2019,10,1,6,2,0.25
4,819941,SM-10683,"UI тесты раздела ""Зоны скидок и доплат""",5,93,93,900,2019,10,1,6,3,0.25

In [51]:
df.target.describe()

count      9589.000000
mean        287.394827
std        1644.032873
min           1.000000
25%          50.000000
50%         120.000000
75%         245.000000
max      116900.000000
Name: target, dtype: float64